/*
 *= require_self
 *= require_tree .
 */
body { padding-top: 60px; }

a.nextPrevButton,a.nextPrevButton:hover  {
  color: #333333;
}

.nosel {
  user-select: none;
  -webkit-user-select: none;
}
.chartsBox {
  border-left:2px solid #dddddd;
  border-right:2px solid #dddddd;
  border-top:2px solid #dddddd;
  border-bottom:2px solid #dddddd;
  padding-top: 0px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
